<!--[if lt IE 9]>
<meta http-equiv="refresh" content="0;ie.html" />
<![endif]-->
<link rel="shortcut icon" href="../favicon.ico">
<link href="../resource/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<link href="../resource/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
<link href="../resource/css/animate.css" rel="stylesheet">
<link href="../resource/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="../resource/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="../resource/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="../resource/css/style.css?v=4.1.0" rel="stylesheet">
<link href="../resource/theme/css/account.css?v=4.1.0" rel="stylesheet">
